{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Managed ships</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if ships %}
        {% for ship in ships %}
        <div class="card mb-3">
            <div class="card-header">
                Ship Name: {{ ship.spaceship_name }} (Status: {{ ship.status }})
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Ship ID:</strong> {{ ship.spaceship_id }}</li>
                    <li class="list-group-item"><strong>Ship Type:</strong> {{ ship.type }}</li>
                    <li class="list-group-item"><strong>Ship Capacity:</strong> {{ ship.capacity }}</li>
                    <li class="list-group-item"><strong>Launch Vehicle ID:</strong> {{ ship.launch_vehicle_id }}</li>
                    <li class="list-group-item"><strong>Launch Vehicle Name:</strong> {{ ship.launch_vehicle_name }}</li>
                    <li class="list-group-item"><strong>Launch Vehicle Model:</strong> {{ ship.model }}</li>
                    <li class="list-group-item"><strong>Launch Vehicle Status:</strong> {{ ship.status }}</li>
                    <li class="list-group-item"><strong>Launch Site:</strong> {{ ship.launch_site }}</li>
                    <li class="list-group-item"><strong>Owner Company ID:</strong> {{ ship.user_id }}</li>
                    <li class="list-group-item"><strong>Owner Company Name:</strong> {{ ship.username }}</li>

                </ul>
                <form method="POST" action="{{ url_for('managed_ships') }}">
                    <input type="hidden" name="spaceship_id" value="{{ ship.spaceship_id }}">
                    <div class="form-group mt-3">
                        <label for="spaceship">Remove ship</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
            No managed ships available at the moment.
        </div>
    {% endif %}
</div>
{% endblock %}
