{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Managed ships</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if ships %}
        {% for ship in ships %}
        <div class="card mb-3">
            <div class="card-header">
                ship Name: {{ ship.username }} (Status: {{ ship.permission_level }})
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>ship ID:</strong> {{ ship.user_id }}</li>
                </ul>
                <form method="delete" action="{{ url_for('managed_ships', user_id=ship.user_id) }}">
                    <div class="form-group mt-3">
                        <label for="spaceship">Remove ship</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
            No managed ships available at the moment.
        </div>
    {% endif %}
</div>
{% endblock %}
