{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Managed astronauts</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if astronauts %}
        {% for astronaut in astronauts %}
        <div class="card mb-3">
            <div class="card-header">
                astronaut Name: {{ astronaut.username }}
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Astronaut ID:</strong> {{ astronaut.user_id }}</li>
                    <li class="list-group-item"><strong>Astronaut Name:</strong> {{ astronaut.name }}</li>
                    <li class="list-group-item"><strong>Company ID:</strong> {{ astronaut.company_id }}</li>
                    <li class="list-group-item"><strong>Company Website:</strong> {{ astronaut.website }}</li>
                    <li class="list-group-item"><strong>Date of Birth:</strong> {{ astronaut.date_of_birth }}</li>
                    <li class="list-group-item"><strong>Nationality:</strong> {{ astronaut.nationality }}</li>
                </ul>
                <form method="POST" action="{{ url_for('managed_astronauts') }}">
                    <input type="hidden" name="user_id" value="{{ astronaut.user_id }}">
                    <div class="form-group mt-3">
                        <label for="spaceship">Remove astronaut</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
            No managed astronauts available at the moment.
        </div>
    {% endif %}
</div>
{% endblock %}
